/* INTCAST.HTML STYLESHEET*/
body{ 
    display:flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    font-family:'sekuya';
    font-size: small;

}

#header2{ 
    text-align: center;
    color:aliceblue;
    font-family:'sekuya';
    animation-name: myAnimate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#nav-bar2{
    text-align: center;
    animation-name: sizeChange;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

#nav-bar2visited {
color: aliceblue;
}


#character2{
    color:aliceblue;
    align-items: center;
    border: 5px solid aliceblue;
    width: 1000px;
    height: 750px; 
}

#footer{
    text-align: center;
}


#footer2{
    font-size: x-small;
}

h2{
    color:aliceblue
}

p{
    color:aliceblue
}


@keyframes myAnimate {
    0% {color: aliceblue;}
    25%{color: rgb(rgb(68, 138, 170), rgb(36, 83, 114), rgb(79, 79, 170)) ;}
    50%{color:blueviolet;}
    75%{color:purple;}
    100%{color: aliceblue;}
}

@keyframes sizeChange{
    from{
        font-size: 10px;
    }
    to{
        font-size: 12;
    }
}
  

